@use "utils" as *;
@use "variables" as *;

.gallery {
  --flow-spacer: var(--sp-5);
  columns: 1;

  @media (min-width: $bp-tablet) {
    columns: 2;
  }

  @media (min-width: $bp-desktop) {
    columns: 4;
  }
}

.gallery > * {
  break-inside: avoid;
}

.card {
  position: relative;
  max-width: 310px;
  margin-inline: auto;
}

.card::after {
  content: "";
  position: absolute;

  inset: 0;
  background: var(--clr-gradient);

  pointer-events: none;
}

.card__img {
}

.card__info {
  --flow-spacer: var(--sp-1);

  position: absolute;
  z-index: 1;

  bottom: var(--sp-4);
  left: var(--sp-4);
  right: var(--sp-4);

  pointer-events: none;

  & * {
    pointer-events: none;
  }
}

.card__title {
  color: white;
}

.card__author {
  color: white;
  opacity: 0.75;
}
