@use "utils" as *;
@use "variables" as *;

.section:has(.heading) {
  padding-block-start: var(--sp-3);

  @media (min-width: $bp-tablet) {
    padding-block-start: var(--sp-5);
  }

  @media (min-width: $bp-desktop) {
    padding-block-start: var(--sp-9);
  }
}

.container:has(.heading) {
  @media (min-width: $bp-desktop) {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: var(--sp-4);
  }
}

.heading {
  position: relative;
  padding-block-end: var(--sp-5);

  // outline: 1px solid blue;
}

.heading__hero {
  position: relative;

  @media (min-width: $bp-tablet) {
    max-width: min(#{toRem(475px)}, 70%);
  }
}

.expand {
  position: absolute;
  top: var(--sp-2);
  left: var(--sp-2);

  display: flex;
  align-items: center;
  gap: var(--sp-2);
  padding: var(--sp-2);
  padding-block: #{toRem(14px)};

  background-color: var(--clr-black);
  color: var(--clr-white);

  @media (min-width: $bp-tablet) {
    top: auto;
    bottom: var(--sp-2);
  }
}

.heading__btn {
  border: none;
  cursor: pointer;
}

.heading__subhero {
  // outline: 1px solid red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 20%;

  transform: translateY(30%);

  @media (min-width: $bp-tablet) {
    transform: translateY(0);
    top: 0;
    left: #{toRem(238px)};
    right: 0;
    max-width: #{toRem(484px)};
    bottom: auto;
  }

  @media (min-width: $bp-desktop) {
    left: #{toRem(400px)};
    bottom: 0;
    max-width: #{toRem(445px)};

    display: flex;
    flex-direction: column;
  }
}

.heading__text {
  --flow-spacer: var(--sp-1);
  padding-block: var(--sp-3);
  padding-inline: var(--sp-3);

  background: var(--clr-white);

  @media (min-width: $bp-tablet) {
    padding-block: 0;
    padding-inline: var(--sp-7);
    padding-block-end: var(--sp-7);
  }
}

.heading__author {
  color: var(--clr-grey-4);
}

.heading__img-author {
  max-width: #{toRem(64px)};
  aspect-ratio: 1;

  @media (min-width: $bp-tablet) {
    max-width: #{toRem(128px)};
    margin-left: auto;
  }

  @media (min-width: $bp-desktop) {
    margin-top: auto;
    margin-left: #{toRem(100px)};

    transform: translateY(20%);
  }
}

.info {
  color: var(--clr-grey-4);
  position: relative;
  padding-top: var(--sp-9);

  display: flex;
  justify-content: center;
}

.info__year {
  color: var(--clr-grey-1);

  position: absolute;
  z-index: -1;

  top: var(--sp-4);
  right: 0;

  @media (min-width: $bp-tablet) {
    right: auto;
    left: 0;
    top: 0;
  }

  @media (min-width: $bp-desktop) {
    left: auto;
    right: 0;
    top: 0;
  }
}

.info__wrapper {
  --flow-spacer: var(--sp-7);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-5);

    max-width: #{toRem(457px)};
  }

  @media (min-width: $bp-desktop) {
    // todo: in spec it is 108px
    --flow-spacer: var(--sp-9);
    max-width: #{toRem(350px)};
  }
}

.info__source {
  display: inline-block;
}
